<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <%- include('../../partials/head') %>

  <body class="bg-primaryBackground">
    <div class="flex flex-col lg:flex-row min-h-screen">
      <!-- Sidebar -->
      <%- include('../../partials/sidebar') %>

      <!-- Main Content -->
      <main class="flex-1 p-4 lg:p-6">
        <header
          class="w-full flex items-center justify-between flex-wrap gap-2"
        >
          <h2 class="font-bold text-202020 text-lg lg:text-xl">لیست پاسخ‌ها</h2>

          <% const todayFilter = typeof today !== 'undefined'; const filterUrl =
          todayFilter ? `/responses` :
          `/responses?today=true`; %>
          <a
            href="<%= filterUrl %>"
            class="h-10 px-4 bg-blue-500 text-white font-bold rounded-lg flex items-center justify-center shadow-md hover:bg-blue-600 transition-all duration-200"
          >
            فیلتر امروز
          </a>
        </header>

        <%- include('../../partials/toast') %>

        <div class="overflow-x-auto mt-8">
          <table
            class="w-full border-collapse border border-CBCBCB text-sm lg:text-base"
          >
            <thead class="bg-gray-200">
              <tr>
                <th class="border border-CBCBCB p-2">صفحه</th>
                <th class="border border-CBCBCB p-2">دوره لاگ شیت</th>
                <th class="border border-CBCBCB p-2">چک لیست</th>
                <th class="border border-CBCBCB p-2">سوال</th>
                <th class="border border-CBCBCB p-2">کاربر</th>
                <th class="border border-CBCBCB p-2">تاریخ</th>
                <th class="border border-CBCBCB p-2">بروزرسانی</th>
                <th class="border border-CBCBCB p-2">حذف</th>
              </tr>
            </thead>
            <tbody>
              <% if (responses && responses.length > 0) { %> <%
              responses.forEach(response => { %>
              <tr
                class="<%= response._id % 2 === 0 ? 'bg-white' : 'bg-gray-100' %> text-center"
              >
                <td class="border border-CBCBCB p-2">
                  <a
                    href="<%= `/checklists/${response.checklist._id}` %>/responses"
                    >مشاهده</a
                  >
                </td>
                <td class="border border-CBCBCB p-2">
                  <%= response.audit && response.audit.name ?
                  response.audit.name : '-' %>
                </td>
                <td class="border border-CBCBCB p-2">
                  <%= response.checklist && response.checklist.name ?
                  response.checklist.name : '-' %>
                </td>
                <td class="border border-CBCBCB p-2">
                  <%= response.question ? response.question.text : '-' %>
                </td>
                <td class="border border-CBCBCB p-2">
                  <%= response.user.email || '-' %>
                </td>
                <td class="border border-CBCBCB p-2">
                  <%= response.createdAt.toLocaleString() || '-' %>
                </td>
                <td class="border border-CBCBCB p-2">
                  <%= response.updatedAt.toLocaleString() || '-' %>
                </td>

                <td class="border border-CBCBCB p-2">
                  <form
                    action="/responses/<%= response._id %>/delete"
                    method="get"
                    style="display: inline"
                  >
                    <button
                      type="submit"
                      class="cursor-pointer text-lg text-red-600 hover:underline"
                    >
                      <i class="ri-delete-bin-7-line"></i>
                    </button>
                  </form>
                </td>
              </tr>

              <% }) %> <% } else { %>
              <tr>
                <td colspan="9" class="border border-CBCBCB p-2 text-center">
                  هیچ پاسخی یافت نشد.
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </main>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const deleteForms = document.querySelectorAll("form");
        deleteForms.forEach((form) => {
          const deleteButton = form.querySelector("button");
          deleteButton.addEventListener("click", (e) => {
            e.preventDefault(); // جلوگیری از ارسال فوری فرم
            const confirmation = confirm(
              "آیا مطمئن هستید که می‌خواهید این پاسخ را حذف کنید؟"
            );
            if (confirmation) {
              form.submit(); // ارسال فرم در صورت تایید کاربر
            }
          });
        });
      });
    </script>
  </body>
</html>
