<!DOCTYPE html>
<html lang="fa" dir="rtl">
	<%- include("../partials/head") %>

	<body class="bg-primaryBackground">
		<div class="flex flex-col lg:flex-row min-h-screen">
			<!-- Sidebar -->
			<%- include('../partials/sidebar') %>

			<!-- Main Content -->
			<main class="flex-1 p-4 lg:p-6">
				<header class="w-full flex items-center justify-between flex-wrap gap-2">
					<h2 class="font-bold text-202020 text-lg lg:text-xl">ویرایش پودمان</h2>
				</header>

				<form
					action="/modules/<%= module.id %>/edit"
					method="POST"
					class="w-full min-h-[400px] bg-white rounded-lg p-4 mt-8 shadow-lg flex flex-col gap-3">
					<h2 class="font-bold text-lg text-202020">ویرایش اطلاعات پودمان</h2>

					<%- include('../partials/toast') %>

					<p class="text-202020 text-sm">
						در حال ویرایش پودمان: <%= module.name %>
					</p>

					<div class="w-full flex flex-col gap-1 mt-3">
						<label for="name" class="text-404040 text-xs">نام پودمان:</label>
						<input
							class="w-full h-12 border rounded-lg text-606060 bg-primaryBackground focus:ring-2 focus:ring-primary text-right outline-none p-4"
							type="text"
							name="name"
							id="name"
							value="<%= module.name %>"
							placeholder="نام پودمان"
							required />
					</div>

					<div class="w-full flex flex-col gap-1 mt-3">
						<label for="description" class="text-404040 text-xs">توضیحات:</label>
						<textarea
							class="w-full min-h-24 border rounded-lg text-606060 bg-primaryBackground focus:ring-2 focus:ring-primary text-right outline-none p-4"
							name="description"
							id="description"
							placeholder="توضیحات پودمان"><%= module.description || '' %></textarea>
					</div>

					<div
						class="w-full flex flex-col sm:flex-row items-center gap-4 sm:gap-2 mt-6">
						<button
							type="submit"
							class="w-full sm:w-1/2 h-12 px-6 bg-primary text-white flex items-center justify-center font-bold rounded-lg shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200">
							ذخیره تغییرات
						</button>
						<a
							href="/modules"
							type="button"
							class="w-full sm:w-1/2 h-12 px-6 bg-disabledButton text-606060 flex items-center justify-center font-bold rounded-lg shadow-lg shadow-primary/30 hover:shadow-xl transition-all duration-200">
							لغو تغییرات
						</a>
					</div>
				</form>
			</main>
		</div>
	</body>
</html>
